@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  place-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(282, 94%, 34%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
